.loading-page__header {
  padding-bottom: 37px;
  position: relative;
}

.loading-page__header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(84, 84, 84, 0.7);
}